@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

/* Table css override  */
/*  toptoolbar table */
/* search */
.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 1px #ffb39f !important;
  border-color: #ff8261 !important;
}
.p-input-icon-left .p-inputtext {
  /* width: 400px !important; */
}
.p-input-icon-left,
.p-input-icon-left > .p-inputtext {
  height: 50px !important;
}
/* left btn */
.p-button.p-component {
  height: 50px !important;
}
.p-button.p-button-help,
.p-buttonset.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button,
.p-fileupload-choose.p-button-help {
  background: #58c3ff !important;
  border: 1px solid #28adfa !important;
}
.p-button.p-button-help:enabled:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #28adfa, 0 1px 2px 0 rgba(0, 0, 0, 0) !important;
}
/* table header */
.p-datatable .p-sortable-column.p-highlight {
  color: #ff8261 !important;
}
.p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.15rem #ff8261 !important;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #ff8261 !important;
}
/* table row */
.p-datatable .p-datatable-tbody > tr > td:not(:last-of-type) {
  padding: 0 !important;
  padding-left: 1.5rem !important;
}
.p-datatable .p-datatable-tbody > tr {
  height: 60px !important;
}
/* row action */
.p-datatable-tbody .p-button.p-button-icon-only {
  border: 0 !important;
}
.p-datatable-tbody .p-button.p-button-outlined:first-child {
  color: #ff8261 !important ;
}
.p-button.p-button-outlined:enabled:hover,
.p-button.p-button-outlined:not(button):not(a):not(.p-disabled):hover {
  /* color: #ffb39f !important; */
}
.p-datatable-tbody .p-button:focus:first-child {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ff8261, 0 1px 2px 0 rgba(0, 0, 0, 0) !important;
}
.p-datatable-tbody .editBnt.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #547aff, 0 1px 2px 0 rgba(0, 0, 0, 0) !important;
}
/* bnt hover */
.p-button.p-button-outlined:enabled:hover,
.p-button.p-button-outlined:not(button):not(a):not(.p-disabled):hover {
  background: rgb(111 111 111 / 4%) !important;
}
.p-datatable-tbody .editBnt.p-button.p-button-outlined {
  color: #547aff !important ;
}
/* table have action last row */
.actionRow.p-datatable .p-datatable-tbody > tr > td:last-child {
  padding: 0 !important;
}
/* status last row */
.statusRow.p-datatable .p-datatable-tbody > tr > td:last-child {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* font in table */
.p-paginator .p-paginator-pages .p-paginator-page,
.p-component {
  font-family: 'kmuttDB' !important;
  font-size: 20px !important;
}
/* table sorting icon */
.p-datatable .p-sortable-column .p-sortable-column-icon {
  font-size: 10px !important;
}

/* body table */
.p-datatable > .p-datatable-wrapper {
  height: 680px !important;
}
/* pagination */
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  border: 0 !important;
}
.p-paginator {
  display: flex !important;
  align-items: end !important;
  justify-content: end !important;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  border: 0 !important;
}
/* number page */
.p-paginator .p-paginator-pages .p-paginator-page {
  min-width: 2rem !important;
}
.p-paginator .p-paginator-pages .p-paginator-page,
.p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
  height: 2rem !important;
  border-radius: 4px !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  color: white !important;
  background-color: #ff8261 !important;
}
/* hoever */
.p-paginator .p-paginator-pages .p-paginator-page:not(.p-highlight):hover {
  background: #ffc1b14e !important;
}
/* focus ring */
.p-link:focus {
  box-shadow: 0 0 0 1px #ff8261 !important;
}

/* end all asset*/

/*================== borrow history =================== */
.p-tag.p-component {
  height: 20px !important;
}
.p-tag.p-component .p-tag-value {
  font-weight: 500 !important;
  font-size: 18px !important;
}
/* row action */

/* end borrow history */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
.scroller-div::-webkit-scrollbar {
  position: absolute;
  left: 0;
}
.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

/* RENEW THEME CSS */
.p-dialog {
  font-family: 'kmuttDB' !important;
}

.p-component {
  font-family: 'kmuttDB' !important;
}

.p-Testbutton {
  background-color: #ff8261 !important;
  border: 1px solid !important;
  border-color: #ff8261 !important;
}

.p-Addbutton {
  background-color: #22c55e !important;
  border: 1px solid !important;
  border-color: #22c55e !important;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 87px;
}

.wave .shape-fill {
  fill: #ff8261;
}

/* input form */
.p-input-icon-left .p-inputtext.p-component.inputForm {
  width: 300px !important;
}

/*  in dialog */
/* disabled input */
.p-disabled,
.p-component:disabled {
  opacity: 1 !important;
}
/* disabled dropdown icon */
.p-dropdown.p-component.p-inputwrapper.p-disabled .p-dropdown-trigger {
  display: none !important;
}
.p-menubar {
  background-color: #00000000  !important;
  border-color: #00000000 !important;
}
.p-menubar:hover{
  background-color: #00000000  !important;
  border-color: #00000000 !important;
}
.p-menu-list {
  background-color: #00000000  !important;
}
.p-menuitem {
  background-color: #00000000  !important;
  width: 150px !important;
}
.p-menu-list:hover {
  background-color: var(--gray-100) !important;
}
.p-menuitem:hover {
  background-color: var(--gray-100) !important;
}
.p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
  color: var(--text-primary) !important;
  width: 500px !important;
}
.p-menuitem-active a {
  background: var(--gray-100) !important;
}
.p-menuitem-link:hover {
  background-color: var(--gray-100) !important;
}
ul.p-submenu-list {
  width: 100% !important;
}
.p-submenu-icon{
  text-align: right !important;
}