@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'kmuttDB';
    font-weight: 400;
    src: local('DB Heavent'),
      url('/src/assets/font/DBHeavent.woff') format('woff'),
      url('/src/assets/font/DBHeavent.woff2') format('woff2');
  }
  body {
    margin: 0;
    padding: 0;
    font-family: 'kmuttDB';
    background: #f1f1f1;
  }
  h1 {
    @apply text-xl font-medium capitalize;
  }
}

.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
  /* @apply text-kmuttColor-800; */
}
